<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!--custom css file link--> 
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/jobs.css') }}">

</head>
<body>

<!--header section starts-->

<header class="header">

    <section class="flex">
        <div id="menu-btn" class="fa-solid fa-bars-staggered"> </div>
        
        <a href="{{ url_for('home') }}" class="logo">
            <img src="{{url_for('static', filename='images/MYLOGO.png')}}" alt="recrutes Logo" height="70">
        </a>        

        <nav class="navbar">
            <a href="{{ url_for('home') }}">home</a>
            <a href="{{ url_for('about') }}">about us</a>
            <a href="{{ url_for('jobs') }}">all jobs</a>
            <a href="{{ url_for('contact') }}">contact us</a>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Account</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="{{ url_for('asstudent') }}">As Student</a>
                    <a href="{{ url_for('ascompany') }}">As Company</a>
                </div>
            </div>
        </nav>

        <a href="{{ url_for('resume') }}" class="btn" style="margin-top: 0;">create resume</a>
    </section>
</header>
<!--header section ends-->


<!--home section starts-->

<div class="home-container">

    <section class="home">

        <form action="" method="post">
            <h3> Find your Dream job</h3>
            <p>jobs title <span>*</span></p>
            <input type="text" name="title" placeholder="keyword, category or company" required maxlength="20" class="input">
            <p>jobs location </p>
            <input type="text" name="location" placeholder="city, state or country" required maxlength="50" class="input">
            <input type="submit" value="search jobs" name="Search jobs" class="btn">
        </form>
    </section>

</div>
<!--home section ends-->


<!--category section starts-->

<section class="category">

    <h1 class="heading">JOBS CATEGORY</h1>
    
    <div class="box-container">

        <a href="#" class="box">
            <i class="fa-solid fa-code"></i>
            <div>
                <h3>web development</h3>
                <span>2200 jobs</span>
            </div>
        </a>

        <a href="#" class="box">
            <i class="fa-solid fa-cloud"></i>
            <div>
                <h3>cloud computing</h3>
                <span>800 jobs</span>
            </div>
        </a>

        <a href="#" class="box">
            <i class="fa-brands fa-python"></i>
            <div>
                <h3>python development</h3>
                <span>750 jobs</span>
            </div>
        </a>

        <a href="#" class="box">
            <i class="fa-solid fa-database"></i>
            <div>
                <h3>Backend Development</h3>
                <span>100 jobs</span>
            </div>
        </a>

        <a href="#" class="box">
            <i class="fa-sharp fa-solid fa-chart-simple"></i>
            <div>
                <h3>data analytics</h3>
                <span>1000 jobs</span>
            </div>
        </a>

    </div>
</section>
<!--category section ends-->

<!-- footer section starts-->

<footer class="footer">
    <section class="grid">


        <div class="box">
            <h3>quick links</h3>
            <a href="{{ url_for('home') }}"><i class="fas fa-angle-right" ></i> home</a>
            <a href="{{ url_for('about') }}"><i class="fas fa-angle-right" ></i> about</a>
            <a href="{{ url_for('jobs') }}"><i class="fas fa-angle-right" ></i> all jobs</a>
            <a href="{{ url_for('contact') }}"><i class="fas fa-angle-right" ></i> contact us</a>
        </div>

        <div class="box">
            <h3>extra links</h3>
            <a href="{{ url_for('terms') }}"><i class="fas fa-angle-right" ></i> terms</a>
            <a href="{{ url_for('privacy') }}"><i class="fas fa-angle-right" ></i> privacy</a>
        </div>

        <div class="box">
            <h3>Follow Us</h3>
            <a href="#"><i class="fa-brands fa-facebook"></i>facebook</a>
            <a href="#"><i class="fa-brands fa-instagram"></i>instagram</a>
            <a href="#"><i class="fa-brands fa-twitter"></i>twitter</a>
            <a href="#"><i class="fa-brands fa-youtube"></i>youtube</a>
            <a href="#"><i class="fa-brands fa-linkedin"></i>linkedin</a> 
        </div>
    </section>

    <div class="credit">&copy; copyright @2024 by vidhi agarwal</span> | all rights  are reserved!</div>
</footer>
<!-- footer section ends-->

    <!--custom js file link-->
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>
</html>